@tailwind base;
@tailwind components;
@tailwind utilities;

.path {
  clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 50% 100%, 0 90%)
}

body {
  font-family: "Lexend Deca", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  text-underline-offset: 3px;
  text-decoration: underline 1px rgba(255, 255, 255, 0);
  transition: text-decoration 150ms ease-out;
}

a:hover {
  text-decoration-color: inherit;
}

.slick-prev:before, .slick-next:before {
  color: #d64b00!important;
}

input:-webkit-autofill {
  box-shadow: inset 0 0 0 32px #fff !important;
  -webkit-text-fill-color: #3a3a32;
}

p { line-height: 1.5;}

html {
  scroll-behavior: smooth;
}